body {
    background-color: blueviolet;
    font-family: 'Red Hat Display', sans-serif;
}

#bigboi {
    text-align: center;
    font-size: 150px;
    color: deepskyblue;
}

#ickleboi {
    text-align: center;
    font-size: 75px;
    color: deepskyblue;
}

.topNav {
    flex: 2;
    display: flex;
    align-items: center;
}

.defaultLink {
    color: black;
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    padding: 10px;
}

.top-info {
    display: flex;
    border-radius: 30px;
    background-color: aquamarine;
}

.top-info-div {
    flex: auto;
}